In [ ]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/cf/29/d6cb0d77ef46d84d35cffa09cf42c73b373aea664d28604eab6818f8a47c/tabula_py-2.2.0-py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 6.3MB/s
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

In [ ]:
!java -version

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)

In [ ]:
import tabula

tabula.environment_info()

Python version:
    3.6.9 (default, Jul 17 2020, 12:50:27)
[GCC 8.4.0]
Java version:
    openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
tabula-py version: 2.2.0
platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
uname:
    uname_result(system='Linux', node='da196bf105f5', release='4.19.112+', version='#1 SMP Thu Jul 23 08:00:38 PDT 2020', machine='x86_64', processor='x86_64')
linux_distribution: ('Ubuntu', '18.04', 'bionic')
mac_ver: ('', ('', '', ''), '')

In [ ]:
pdf_path = "https://www.rheingau-taunus.de/fileadmin/forms/corona-virus/coronavirus_inzidenz_10-22.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True)
t1=dfs[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

In [ ]:
t1[t1['Stadt | Gemeinde'].isin(['Kreis gesamt', 'Kreis Inzidenz'])]

   Stadt | Gemeinde Neufälle der letzten 7 Tage
17     Kreis gesamt                         155
18   Kreis Inzidenz                        82,8

In [ ]:
t1[t1['Stadt | Gemeinde']=='Kreis gesamt'].iloc[0].to_string()

'Stadt | Gemeinde               Kreis gesamt\nNeufälle der letzten 7 Tage             155'

In [ ]:
t1[t1['Stadt | Gemeinde']=='Kreis gesamt'].iloc[0]['Neufälle der letzten 7 Tage']

'155'

In [ ]:
print('Neu 7Tage: ' + t1[t1['Stadt | Gemeinde']=='Kreis gesamt'].iloc[0]['Neufälle der letzten 7 Tage'])
print('Inzidenz: ' + t1[t1['Stadt | Gemeinde']=='Kreis Inzidenz'].iloc[0]['Neufälle der letzten 7 Tage'])

Neu 7Tage: 155
Inzidenz: 82,8

In [ ]:
def getValue(DF, CompCol, RowVal, ResultCol):
  return DF[DF.iloc[:,CompCol]==RowVal].iloc[0, ResultCol]
print(getValue(t1, 0, 'Kreis gesamt', 1))

155