Es ist möglich, fehlende Python-Pakete in Google Colab nachzuinstallieren. </br>
Das macht man in Python üblicherweise über den Paketmanager pip.</br> 
Man kann mit Präfix "!" Shell-Kommandos ausführen und so Pakete installieren.

In [5]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/cf/29/d6cb0d77ef46d84d35cffa09cf42c73b373aea664d28604eab6818f8a47c/tabula_py-2.2.0-py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 8.0MB/s
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

Aus der Dokumentation (https://tabula-py.readthedocs.io/en/latest/): </br> tabula (ein Programm zum Extrahieren von Tabellen aus PDFs) ist ein Python-Wrapper für eine Java-Bibliothek. Das heißt, wir benutzen Python Syntax, aber die eigentliche Arbeit wird von Java Programmen gemacht. Das findet man öfter. In diesem Fall ist es gut zu prüfen, ob die benötigte Java-Version installiert ist.

In [6]:
!java -version

openjdk version "11.0.9.1" 2020-11-04
OpenJDK Runtime Environment (build 11.0.9.1+1-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.9.1+1-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)

Nachdem das Python-Modul installiert wurde, können wir es in unserem Code importieren. </br> Erst danach können wir seine Objekte und Funktionen verwenden.

In [7]:
import tabula

tabula.environment_info()

Python version:
    3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
Java version:
    openjdk version "11.0.9.1" 2020-11-04
OpenJDK Runtime Environment (build 11.0.9.1+1-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.9.1+1-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
tabula-py version: 2.2.0
platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
uname:
    uname_result(system='Linux', node='e896f44e68b7', release='4.19.112+', version='#1 SMP Thu Jul 23 08:00:38 PDT 2020', machine='x86_64', processor='x86_64')
linux_distribution: ('Ubuntu', '18.04', 'bionic')
mac_ver: ('', ('', '', ''), '')

Kurze Einführung zu Python Dictionaries: ein Dictionary ist eine Liste von Key/Value Paaren. </br> Man ruft den Value ab, indem man den Key als Index zum Dictionary benutzt.

In [10]:
myPreferences = { "Obst": "Beeren",
                  "Getränk": "Direktsaft", 
                  "Band": "Oscar Peterson Trio"}
print(myPreferences["Getränk"])

Direktsaft

Die Bibliothek tabula verwendet das Python Modul pandas zur Datenmanipulation. Pandas ist in Google Colab standardmäßig installiert. Siehe z. B. hier: https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html). Das Ergebnis der read_pdf Funktion sind pandas Dataframes. Die funktionieren wie ein Dictionary, nur dass die Values keine Einzelwerte sind, sondern Listen. </br>Die Spaltenköpfe der Matrix sind dabei die Keys.

In [11]:
# Beispiel von der oben angegebenen Webseite
import pandas as pd
df = pd.DataFrame({
        "Name": ["Braund, Mr. Owen Harris",
                 "Allen, Mr. William Henry",
                 "Bonnell, Miss. Elizabeth"],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"]}
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [12]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

Jetzt lesen wir mal eine Tabelle aus einem PDF im Internet ein.</br>

In [14]:
pdf_path = "https://www.rheingau-taunus.de/fileadmin/forms/corona-virus/coronavirus_inzidenz_12-14.pdf"

dataframe_list = tabula.read_pdf(pdf_path, stream=True, pages=1)

# read_pdf liest als Default mehrere Tabellen, wenn auf der Seite vorhanden.
# Das Ergebnis ist dann eine Liste von Dataframes, also von Tabellen.
# Man erkennt die Liste an den [] Klammern außen.
dataframe_list

[      Stadt | Gemeinde Neufälle der letzten 7 Tage
 0            Aarbergen                          24
 1       Bad Schwalbach                          17
 2             Eltville                          39
 3           Geisenheim                          21
 4            Heidenrod                           7
 5           Hohenstein                           5
 6           Hünstetten                           6
 7              Idstein                          36
 8             Kiedrich                          17
 9                Lorch                           1
 10       Niedernhausen                          11
 11     Oestrich-Winkel                          62
 12  Rüdesheim am Rhein                          19
 13        Schlangenbad                           0
 14         Taunusstein                          85
 15             Waldems                           5
 16              Walluf                          31
 17        Kreis gesamt                         386
 18      Kreis Inzidenz                       206,2]

In [15]:
# Wir wissen natürlich, dass die Liste nur einen Eintrag hat.
t1 = dataframe_list[0]
t1

      Stadt | Gemeinde Neufälle der letzten 7 Tage
0            Aarbergen                          24
1       Bad Schwalbach                          17
2             Eltville                          39
3           Geisenheim                          21
4            Heidenrod                           7
5           Hohenstein                           5
6           Hünstetten                           6
7              Idstein                          36
8             Kiedrich                          17
9                Lorch                           1
10       Niedernhausen                          11
11     Oestrich-Winkel                          62
12  Rüdesheim am Rhein                          19
13        Schlangenbad                           0
14         Taunusstein                          85
15             Waldems                           5
16              Walluf                          31
17        Kreis gesamt                         386
18      Kreis Inzidenz                       206,2

Zunächst stelle ich noch vor, wie man in Python aus Arrays (Python: Listen) selektiert.

In [17]:
my_list = [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
print(my_list[:])       # die leeren Einträge links und rechts vom Doppelpunkt bedeuten "Anfang" bzw. "Ende" 
print(my_list[:8])      # Anfang bis *vor* den Eintrag mit dem Index 8 (Indexe fangen bei 0 an)
print(my_list[8:])      # Eintrag mit Index 8 bis zum Ende

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
[1, 2, 4, 8, 16, 32, 64, 128]
[256, 512, 1024]

Pandas hat Funktionen zum Selektieren und Joinen, ähnlich wie wir sie in SQL auch benutzen.

In [18]:
t1[t1['Stadt | Gemeinde'].isin(['Kreis gesamt', 'Kreis Inzidenz'])]

   Stadt | Gemeinde Neufälle der letzten 7 Tage
17     Kreis gesamt                         386
18   Kreis Inzidenz                       206,2

In [19]:
t1[t1['Stadt | Gemeinde']=='Kreis gesamt']

   Stadt | Gemeinde Neufälle der letzten 7 Tage
17     Kreis gesamt                         386

Mit der funktion .iloc()[Zeile] können wir statt über einen Key auch numerisch selektieren.

In [20]:
t1[t1['Stadt | Gemeinde']=='Kreis gesamt'].iloc()[0]['Neufälle der letzten 7 Tage']

'386'

Zum Schluss verpacke ich das noch in eine Python-Funktion.</br>
Das erste iloc([:,CompCol]) ist eine Matrix-Indexierung.</br>
-->Nimm alle Zeilen (":" steht für alle), für die gilt: Spalte CompCol == Rowval</br>
Das zweite iloc[0, ResultCol] ist wieder eine Matrix-Indexierung auf das Ergebnis. </br>
-->Nimm die erste Zeile [0] und die Spalte ResultCol.</br> 
So bekomme ich einen eindeutigen Wert zurück.

In [21]:
def getValue(DF, CompCol, RowVal, ResultCol):
  return DF[DF.iloc[:,CompCol]==RowVal].iloc[0, ResultCol]
  
print(getValue(t1, 0, 'Kreis gesamt', 1))

386

Pandas kann übrigens auch ohne zusätzliche Module mit CSV Dateien arbeiten. Diese können aus dem Internet kommen oder aus der Dateiablage in Colab (vorher hochladen). Es gibt zur Einarbeitung zahlreiche weitere Jupyter Notebooks auf GitHub, zum Beispiel das hier:</br>
https://github.com/dshahid380/Data-analysis-with-pandas/blob/master/pandas_part1.ipynb </br>
Da sind auch zugehörige CSV Dateien im Ordner Datasets abgelegt.